<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title></title>
  <meta charset="utf-8">
  <style>
      .red {
          background: red
      }

      .green {
          background: green
      }

      #app {
          width: 500px;
          height: 200px;
          margin: 0 auto;
      }
  </style>
</head>
<body>
<div id="app">
  <div v-for="(value, type) in selectArr">
    <button v-for="attr in value" :class="[current[type] == attr.id && 'green',attr.disable && 'red']"
            @click="addId(attr, type)">{{attr.name}}
    </button>
  </div>
  <div v-for="sku in all_sku">
            <span v-for="(data, type) in selectArr">
                <span v-for="value in data">
                    <span v-if="value.id == sku[type]">
                        {{value.name}}
                    </span>
                </span>
            </span>
  </div>
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.9/vue.js"></script>
<script>
  new Vue({
    el: "#app",
    data: {
      name: 1,
      current: {color: 0, memory: 0, version: 0},
      all_sku: [
        {color: 1, memory: 4, version: 7},
        {color: 1, memory: 4, version: 8},
        {color: 2, memory: 5, version: 9}
      ],
      selectArr: {
        color: [{id: 1, disable: 0, name: "红色"}, {id: 2, disable: 0, name: "蓝色"}, {id: 3, disable: 0, name: "黑色"}],
        memory: [{id: 4, disable: 0, name: "64"}, {id: 5, disable: 0, name: "128"}, {id: 6, disable: 0, name: "256"}],
        version: [{id: 7, disable: 0, name: "移动"}, {id: 8, disable: 0, name: "联通"}, {id: 9, disable: 0, name: "电信"}],
      }
    },
    created() {
      this.checkSku()
    },
    methods: {
      addId(attr, type) {
        if (!attr.disable) {
          this.current[type] = (this.current[type] > 0 && this.current[type] == attr.id) ? 0 : attr.id
          this.checkSku()
        }
      },
      checkSku() {
        for (const type in this.selectArr) {
          this.selectArr[type].forEach(sku => {
            let temp = JSON.parse(JSON.stringify(this.current))
            temp[type] = sku.id;
            let length = this.all_sku.filter(sku => {
              let i = 0;
              for (const field in sku) {
                if (temp[field] == 0 || temp[field] == sku[field]) {
                  i++;
                }
              }
              return i == Object.keys(this.current).length;
            }).length;
            sku.disable = length == 0
          })
        }
      }
    }
  });
</script>
</body>
</html>
